.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__title
        techcamp
      .chat-main__group-info__left-box__members
        Member：masa
    .chat-main__group-info__edit
      = link_to "#", class:"btn" do
        Edit 

  .messages
    .message__info
      %p.message__info__talk
        masa
      %p.message__info__date
        2019/11/20(Wed) 17:43:01 
    %p.message__info__text
      おはよう！
      %p.message__info__talk
        masa
      %p.message__info__date
        2019/11/20(Wed) 17:43:01 
    %p.message__info__text
      おはよう！
  .form
    = form_for [@group, @message] do |f|
       = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'= icon('fas', 'image')
             = f.submit 'Send', class: 'form__submit'